html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    margin: auto;

    /* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
}

/* header design start */
header{
    background-color: #24a19c;
    padding: 0% 1%;
    text-align: center;
}
.logo{
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    transition: 0.7s;
}
.logo:hover{
    transform: scale(1.1);
}
nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 0 20px;
    line-height: 70px;
    font-size: 0.9rem;
    transition: 0.4s;
    box-sizing: border-box;
}

nav ul li a:hover{
    border-radius: 10px;
    background-color: rgb(0,0,0,0.1);
    transform: scale(1.06);
}

/* header design eng */

/* banner section start here */

#banner-section{
    background-image: url(Picture/banner\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.banner-content{
    text-align: center;
    padding: 50px 10px;
}
.banner-content h1{
    width: 100%;
    margin: 15px auto;
    background-color: rgb(233, 219, 28,0.7);
    font-size: 3rem;
    padding: 10px;
    border-radius: 20px;
    font-family: 'Handlee', cursive;
}
.banner-content p{
   width: 350px;
   font-size: 1.3rem;
   margin: 15px auto;
   background-color: rgb(6, 134, 6,0.7);
   padding: 10px;
   border-radius: 20px;
   color: white;
   font-family: 'Montserrat', sans-serif;
}
.btn{
    width: 160px;
    cursor: pointer;
    border: none;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: rgba(12, 160, 12, 0.842);
    transition: 0.5s;
    color: white;
}
.btn:hover{
    transform: scale(1.2);
}

/* banner design end here */

/* about us design start here */

#about-us{
    padding: 1%;
}
.about-us-content{
    text-align: center;
}
.about-us-content h3{
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bolder;
}
.about-us-content p{
    font-size: 0.9rem;
    margin-bottom: 20px;
}
/* about us design end here */


/* food manu design start here */

#food-manu{
    padding: 1%;
}
.row h4{
    text-align: center;
    font-size: 2rem;
    margin: 10px auto;
}
.card-body{
    text-align: center;
}
.card-body img{
    max-width: 100%;
    height: auto;
    display: block;
}
.card-item-des{
    background: rgb(165, 164, 164);
}
.item-name{
    background-color: green;
    color: white;
    padding: 10px;
}
.card{
    transition: 0.4s;
}
.card:hover{
    transform: scale(1.05);
}

/* food manu design end here */

/* contact design start */

#contact{
    padding: 1%;
    background-color: #595b83;
}
.contact-details{
    text-align: center;
    padding: 20px 0px;
    color: white;
}
.contact-details p,address{
    font-size: 0.8rem;
    letter-spacing: 1px;
}
.map{
    width: 100%;
    height: 250px;
}

/* contact design end */


/* footer design start */

footer{
    padding: 1%;
    background-color: #060930;
    color: white;
}
footer p{
    font-size: 0.8rem;
    text-align: center;
    line-height: 32px;
}
.social-manu{
    text-align: center;
}
.icon-style{
    width: 32px;
    height: 32px;
    color: white;
    border: 1px solid white;
    margin: 0 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    transition: 0.4s;
}
.icon-style:hover{
    transform: scale(1.2);
    background-color: gray;

}

/* footer design end */

/* row size and floating clear option  start*/
.row{
    width: 100%;
}
.row::after{
    content: " ";
    clear: both;
    display: block;
}
/* row decoration and floating clear option end */

/* grid floating and colom width start */
[class*="col-"]{
    float: left;
    padding: 15px;
}

[class*="col-"]{
    width: 100%;
}
/* grid floating and colom width end */



/* screen size decoration start */

/* small screen device ess grid layout here - device size 576px */
@media (min-width:576px){

    .col-sm-1 {
        width: 8.33%;
    }
    .col-sm-2 {width: 16.66%;}
    .col-sm-3 {width: 25%;}
    .col-sm-4 {width: 33.33%;}
    .col-sm-5 {width: 41.66%;}
    .col-sm-6 {width: 50%;}
    .col-sm-7 {width: 58.33%;}
    .col-sm-8 {width: 66.66%;}
    .col-sm-9 {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
}

/* medium screen device ess grid layout here - device size 768px */
@media (min-width: 768px){

    .col-md-1 {
        width: 8.33%;
    }
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width: 41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

}

/* large screen device ess grid layout here - device size 992px */
@media (min-width: 992px){

    .logo-div{
        text-align: left;
    }
    nav ul{
        text-align: right;
    }
    nav ul li{
        display: inline-block;
    }
    nav ul li a{
       display: inline-block;
       transition: 0.4s;
    }
    nav ul li a:hover{
        background-color: transparent;
        transform: scale(1.2);
        text-decoration: underline;
        border-radius: 0;
    }

    /* banner design start */

    #banner-section{
        position: relative;
        height: 100vh;
    }
    .banner-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .banner-content h1{
        width: 700px;
        font-size: 3.5rem;
    }
    .banner-content p{
        width: 500px;
        font-size: 2rem;
    }

    /* banner design end  */

/* footer design */
    footer p{
        text-align: left;
        font-size: 1rem;
    }

    .social-manu{
        text-align: right;
    }


/* footer design */

    .col-lg-1 {
        width: 8.33%;
    }
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

}

/* screen size decoration end */

